@use 'sass:math';

$alphabet: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
$white: #f0f0f0;

body {
	font-family: 'Prompt', sans-serif;
}

h1 {
	font-size: 3rem;
	line-height: 1.25;
	margin-top: 25vmin;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
}

.white {
	background: $white;
}

.black {
	background: #000;
}

.gray {
	background: #dddfe2;
}

.red {
	background: #c00;
}

.yellow {
	background: #ec0;
}

.blue {
	background: #05a;
	// background: #06b;
}

.canvas {
	background: $white;
	display: grid;
	margin: 25vmin auto 0;
}

@for $i from 1 through length($alphabet) {
	.#{nth($alphabet, $i)} {
		grid-area: #{nth($alphabet, $i)};
	}

	@for $j from 1 through length($alphabet) {
		.#{nth($alphabet, $i)}#{nth($alphabet, $j)} {
			grid-area: #{nth($alphabet, $i)}#{nth($alphabet, $j)};
		}
	}
}

.composition-with-large-red-plane-yellow-black-gray-and-blue-1921 {
	// aspect-ratio: 95.7 / 95.1;
	grid:
		' ae   ae   ae   ae   .    .    .    .     d    d    d    d    d   af' 13fr
		' ae   ae   ae   ae   .    .    .    .     l    e    e    e    e   af' 6fr
		' ae   ae   ae   ae   k    .    .    .     l    e    e    e    e   af' 4fr
		' ae   ae   ae   ae   k    .    .    .     l    f    f    f    m   af' 50fr
		' .    n    n    n    n    n    n    n     n    n    n    n    o   af' 11fr
		' .    .    p    a    a    a    a    a     q    g    g    g    o   af' 149fr
		' .    r    p    a    a    a    a    a     q    s    s    s    o   af' 11fr
		' ag   ag   p    a    a    a    a    a     q    .    t    .    o   af' 150fr
		' ag   ag   p    u    u    u    u    u     q    v    v    v    o   af' 11fr
		' ag   ag   p    w    w    w    x    ah    q    .    .    .    o   af' 71fr
		' h    y    p    w    w    w    x    z     q    aa   aa   aa   o   ab' 11fr
		' i    i    p    w    w    w    x    ai    q    aj   aj   aj   o    b' 67fr
		' i    i    p    w    w    w    x    ac    q    aj   aj   aj   o    b' 11fr
		' i    i    p    .    .    .    x    ac    q    aj   aj   aj   o    b' 32fr
		' i    i    p    .    .    .    x    ac    q    ad   ad   ad   o    b' 11fr
		' i    i    p    .    .    .    x    .     .    .    .    .    o    b' 9fr
		' j    j    j    .    .    .    x    .     .    .    .    .    o    b' 8fr
		' j    j    j    .    .    .    .    .     .    .    .    .    c    c' 11fr
		/ 18fr 54fr 11fr 68fr 11fr 75fr 11fr 145fr 11fr 91fr 11fr 89fr 11fr 34fr;
	height: 95.1vmin;
	width: 95.7vmin;
}

.composition-with-yellow-patch-1930 {
	// aspect-ratio: 46 / 46.5;
	grid:
		'. a . . .' 375fr
		'b a c c c' 20fr
		'. a . d e' 85fr
		'. a . d f' 34fr
		'. a . d .' 102fr
		'. a g d .' 20fr
		'. a . d .' 12fr
		/ 320fr 20fr 240fr 20fr 40fr;
	height: 46.5vmin;
	width: 46vmin;
}
