<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap")
    link(rel="stylesheet", href="composition.css")
    title CSS Grid Mondrian
  body
    h1 CSS Grid Mondrian

    .canvas.composition-with-large-red-plane-yellow-black-gray-and-blue-1921
      .a.red
      .b.red
      .c.red
      .d.yellow
      .e.yellow
      .f.yellow
      .g.yellow
      .h.yellow
      .i.yellow
      .j.yellow
      .k.black
      .l.black
      .m.black
      .n.black
      .o.black
      .p.black
      .q.black
      .r.black
      .s.black
      .t.black
      .u.black
      .v.black
      .w.black
      .x.black
      .y.black
      .z.black
      .aa.black
      .ab.black
      .ac.black
      .ad.black
      .ae.gray
      .af.gray
      .ag.gray
      .ah.gray
      .ai.gray
      .aj.blue
    h2 Composition with Large Red Plane, Yellow, Black, Gray, and Blue, 1921

    .canvas.composition-with-yellow-patch-1930
      .a.black
      .b.black
      .c.black
      .d.black
      .e.yellow
      .f.black
      .g.black
    h2 Composition with yellow patch 1930
