<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap")
    link(rel="stylesheet", href="composition.css")
    title CSS Grid Mondrian
  body
    h1 CSS Grid Mondrian

    .container
      .canvas.composition-with-large-red-plane-yellow-black-gray-and-blue-1921
        .composition
          .a.gray
          .b.black
          .c.black
          .d.yellow
          .e.black
          .f.gray
          .g.black
          .h.black

      .canvas.composition-with-yellow-patch-1930
        .composition
          .a.black
          .b.black
          .c.black
          .d.black
          .e.yellow
          .f.black
          .g.black
      h2 Composition with yellow patch 1930
