<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Prompt:wght@500;700&display=swap")
    link(rel="stylesheet", href="composition.css")
    title CSS Grid Mondrian
  body
    h1 CSS Grid Mondrian

    mixin a(from, to, color)
      - for(var i = from; i <= to; i++)
        div(class=`a${i} ${color}`)

    .canvas.composition-with-large-red-plane-yellow-black-gray-and-blue-1921
      +a(1, 3, 'red')
      +a(4, 10, 'yellow')
      +a(11, 29, 'black')
      +a(30, 34, 'gray')
      +a(35, 35, 'blue')
    h2 Composition with Large Red Plane, Yellow, Black, Gray, and Blue, 1921

    .canvas.tableau-i-1921
      +a(1, 11, 'black')
      +a(12, 12, 'red')
      +a(13, 15, 'gray')
      +a(16, 16, 'yellow')
      +a(17, 17, 'blue')
    h2 Tableau I, 1921

    .canvas.lozenge.lozenge-composition-with-yellow-black-blue-red-and-gray-1921
      .inner
        +a(1, 1, 'yellow')
        +a(2, 11, 'black')
        +a(12, 12, 'blue')
        +a(13, 13, 'red')
    h2 Lozenge Composition with Yellow, Black, Blue, Red, and Gray, 1921

    .canvas.tableau-ii-1922
      +a(1, 1, 'yellow')
      +a(2, 9, 'black')
      +a(10, 11, 'blue')
      +a(12, 13, 'gray')
      +a(14, 15, 'red')
    h2 Tableau II, 1922

    .canvas.lozenge.tableau-i-lozenge-with-four-lines-and-gray-1926
      .inner
        +a(1, 5, 'black')
        +a(6, 6, 'gray')
    h2 Tableau I: Lozenge with Four Lines and Gray, 1926

    .canvas.lozenge.lozenge-with-two-lines-and-blue-color-1926
      .inner
        +a(1, 3, 'black')
        +a(4, 4, 'blue')
    h2 Lozenge with Two Lines and Blue Color, 1926

    .canvas.composition-ii-with-red-blue-and-yellow-1930
      +a(1, 6, 'black')
      +a(7, 7, 'red')
      +a(8, 8, 'blue')
      +a(9, 10, 'yellow')
    h2 Composition II with Red, Blue, and Yellow, 1930

    .canvas.composition-with-yellow-patch-1930
      +a(1, 6, 'black')
      +a(7, 7, 'yellow')
    h2 Composition with Yellow Patch, 1930

    .canvas.composition-iii-with-blue-yellow-and-white-1936
      +a(1, 1, 'blue')
      +a(2, 7, 'black')
      +a(8, 8, 'yellow')
    h2 Composition III with Blue Yellow and White, 1936

    .canvas.composition-with-red-yellow-and-blue-1942
      +a(1, 1, 'yellow')
      +a(2, 49, 'black')
      +a(50, 52, 'blue')
      +a(53, 54, 'red')
    h2 Composition with Red, Yellow and Blue, 1942

    .canvas.new-york-city-i-1942
      +a(1, 77, 'yellow')
      +a(78, 122, 'blue')
      +a(123, 155, 'red')
    h2 New York City I, 1942

    .canvas.broadway-boogie-woogie-1942-43
      +a(1, 279, 'yellow')
      +a(280, 381, 'red')
      +a(382, 473, 'blue')
      +a(474, 621, 'gray')
    h2 Broadway Boogie Woogie, 1942-43

    footer
      p Original Works created by Piet Mondrian / Coded by Kite
